
  name: CI-CD-Ubuntu
  
  on:
    push:
      branches: [ "main" ]
    pull_request:
      branches: [ "main" ]
  
    workflow_dispatch:
  
  env:
    BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
    BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
  
  jobs:
    load-test-ubuntu:
      runs-on: ubuntu-latest   # change to macos-latest / windows-latest if needed
  
      steps:
        # Sample Stage
        - name: Checkout repo
          uses: actions/checkout@v4
  
        # Sample Stage
        - name: Run Unit Tests
          run: echo "Running Unit Tests"
  
        - name: Detect OS & Architecture and Download BrowserStack CLI (Linux and MacOS)
          if: runner.os != 'Windows'
          shell: bash
          run: |
            OS=$(uname -s)
            ARCH=$(uname -m)
  
            if [[ "$OS" == "Darwin" ]]; then
              OS="macos"
            else
              OS="linux"
            fi
  
            if [[ "$ARCH" == *"arm"* ]]; then
              ARCH="arm64"
            else
              ARCH="x64"
            fi
  
            DOWNLOAD_URL="https://load-api.browserstack.com/api/v1/binary?os=${OS}&arch=${ARCH}"
            
            echo "OS=$OS | ARCH=$ARCH | DOWNLOAD_URL=$DOWNLOAD_URL"
            echo "Downloading BrowserStack Binary..."
            
            curl -fL "$DOWNLOAD_URL" -o browserstack-cli.zip
            unzip -oq browserstack-cli.zip
            chmod +x browserstack-cli
  
        - name: Download BrowserStack CLI (Windows)
          if: runner.os == 'Windows'
          shell: pwsh
          run: |
            $downloadUrl = "https://load-api.browserstack.com/api/v1/binary?os=win&arch=x64"
            Write-Host "Downloading BrowserStack Binary..."
  
            Invoke-WebRequest -Uri "${downloadUrl}" -OutFile "browserstack-cli.zip"
            Expand-Archive -Path "browserstack-cli.zip" -DestinationPath "." -Force
       
        - name: Run BrowserStack Load Test
          shell: pwsh
          run: |
            if ($env:RUNNER_OS -eq "Windows") {
              .\browserstack-cli.exe load run  --projectName="Thresholds Sanity" --entityName="Thresholds Failure Test"
            } else {
              ./browserstack-cli load run  --projectName="Thresholds Sanity" --entityName="Thresholds Failure Test"
            }
  
        - name: Publish JUnit Report
          if: always()
          uses: actions/upload-artifact@v4
          with:
            name: load-test-report
            path: "reports-gha-${{ github.workflow }}-${{ github.run_number }}/browserstack-load-test-report-*.xml"
